[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/monero-project/supercop
	branch = monero
[submodule "external/randomwow"]
	path = external/randomwow
	url = https://github.com/wownero/RandomWOW
        branch = 1.2.1-wow

